<ion-header>
  <ion-navbar color="primary">
    <ion-title>Meus livros</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item-group>
      <ion-item-divider color="secondary">Livros que estou lendo</ion-item-divider>
      <ion-item *ngIf="livrosLendo.length == 0" text-center>Adicione um livro</ion-item>

      <ion-item *ngFor="let livro of livrosLendo" (click)="abrirLivro(livro.id, false)">
        <ion-thumbnail item-start *ngIf="livro.thumbnail">
          <img src="{{ livro.thumbnail }}">
        </ion-thumbnail>
        <h2 text-wrap>{{ livro.title }}</h2>
        <p text-wrap>{{ livro.description | slice:0:200 }}
          <span *ngIf="livro.description && livro.description.length > 200">...</span>
        </p>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="secondary">Livros que já li </ion-item-divider>
      <ion-item *ngIf="livrosQueJaLi.length == 0" text-center>Adicione um livro</ion-item>

      <ion-item *ngFor="let livro of livrosQueJaLi" (click)="abrirLivro(livro.id, true)">
        <ion-thumbnail item-start *ngIf="livro.thumbnail">
          <img src="{{ livro.thumbnail }}">
        </ion-thumbnail>
        <h2 text-wrap>{{ livro.title }}</h2>
        <p text-wrap>{{ livro.description | slice:0:200 }}
          <span *ngIf="livro.description && livro.description.length > 200">...</span>
        </p>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
