<!--
  Generated template for the MybooksPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Meus livros</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item-group>
      <ion-item-divider color="light">Livros que estou lendo</ion-item-divider>
      <ion-item *ngIf="livrosLendo.length == 0" text-center>Adicine um item</ion-item>

      <ion-item *ngFor="let livro of livrosLendo" (click)="abrirLivro(livro.id, false)">
        <ion-thumbnail item-start *ngIf="livro.thumbnail">
          <img src="{{ livro.thumbnail }}">
        </ion-thumbnail>
        <h2 text-wrap>{{ livro.title }}</h2>
        <p text-wrap>{{ livro.description | slice:0:200 }}
          <span *ngIf="livro.description && livro.description.length > 200">...</span>
        </p>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider color="light">Livros que já li </ion-item-divider>
      <ion-item *ngIf="livrosQueJaLi.length == 0" text-center>Adicine um item</ion-item>

      <ion-item *ngFor="let livro of livrosQueJaLi" (click)="abrirLivro(livro.id, true)">
        <ion-thumbnail item-start *ngIf="livro.thumbnail">
          <img src="{{ livro.thumbnail }}">
        </ion-thumbnail>
        <h2 text-wrap>{{ livro.title }}</h2>
        <p text-wrap>{{ livro.description | slice:0:200 }}
          <span *ngIf="livro.description && livro.description.length > 200">...</span>
        </p>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
